<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    <h4 class="p-3 mb-2 bg-dark text-white">음료 재고 관리</h4>
    <table class="table">
        <thead class="table-dark">
            <th>번호</th>
            <th>재고명</th>
            <th>재고</th>
        </thead>
        <tbody>
            <tr th:each="list : ${drinkStockList}">
                <td th:text="${list.diSeq}"></td>
                <td>
                    <a th:text="${list.diName}"></a>
                </td>
                    <td colspan="6"><input type="number" name="diStock"></td>
                <td>
                    <tr>
                        <td colspan="7">
                            <button>저장</button>
                            <a href="/">돌아가기</a>
                        </td>
                    </tr>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="search_area">
        <form action="/side/list" method="get" id="search_form">
            <input type="text" name="Keyword" placeholder="재고 검색" th:value="${Keyword}"><button>검색</button>
        </form>
    </div> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>