<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #ED1C24">
            <div class="container-fluid">
                <a class="navbar-brand" href="/main">
                    <img src="https://blog.kakaocdn.net/dn/k5tQM/btrXn5R4yNY/VU87wkiJbkOMwFMbqaQ8K0/img.png" alt="Logo" width="50" height="30" class="d-inline-block align-text-left">
                    <span style="color: white; font-weight: 900;">BurgerWang</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: 700;">
                                기본메뉴 추가
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/menu/add/burger">버거 추가</a></li>
                                <li><a class="dropdown-item" href="/menu/add/event">이벤트 추가</a></li>
                                <li><a class="dropdown-item" href="/menu/add/dog">독퍼 추가</a></li>
                                <li><a class="dropdown-item" href="/menu/add/drink">음료 추가</a></li>
                                <li><a class="dropdown-item" href="/menu/add/side">사이드 추가</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu/add/sellmenu" style="color: white; font-weight: 700;">판매 메뉴 추가</a>
                        </li>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white; font-weight: 700;">
                            옵션 추가
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/menu/add/sideOpt">사이드 옵션 추가</a></li>
                            <li><a class="dropdown-item" href="/menu/add/drinkOpt">음료 옵션 추가</a></li>
                            <li><a class="dropdown-item" href="/menu/add/ingredients">재료 옵션 추가</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu/add/store" style="color: white; font-weight: 700;">매장 추가</a>
                    </li>
                    
                </div>
            </div>
        </nav>
        <div class="p-3 mb-2 bg-dark text-white">
            <div class="row">
                <div class="col-10">
                    <h4>음료 추가</h4>
                </div>
                <div class="col-2" align="center">
                <a href="/admin/logout" style="color: white;">로그아웃 </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
    <form action="/menu/add/drink" method="post" enctype="multipart/form-data">
        <table id="input_form_table">
            <tbody>
                <tr>
                    <label for="exampleFormControlInput1" class="form-label">이름</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name ="name" placeholder="name">
                </tr>
                <tr>
                    <label for="exampleFormControlTextarea1" class="form-label">메뉴설명</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="detail" rows="3"></textarea>
                </tr>
                <tr>
                    <label for="formFile" class="form-label">이미지파일</label>
                    <input class="form-control" type="file" name="diFile" id="formFile">
                </tr>
                <tr>
                    <br>
                    <td colspan="6">
                        <button class="btn btn-dark">저장</button>
                        <a href="/main"  class="btn btn-dark">돌아가기</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>