<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="p-3 mb-2 bg-secondary text-white">이벤트메뉴 추가</div>
    <form action="/menu/add/event" method="post" enctype="multipart/form-data">
        <table id="input_form_table">
            <tbody>
                <tr>
                    <label for="exampleFormControlInput1" class="form-label">이름</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name ="name" placeholder="name">
                <tr>
                    <label for="exampleFormControlTextarea1" class="form-label">메뉴설명</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="detail" rows="3"></textarea>
                </tr>
                </tr>
                <tr>
                    이벤트 시작일
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker3'>
                                    <input type='date' name="regDt" class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker3').datetimepicker({
                                        format: 'LT'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                    이벤트 종료일
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-3'>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker3'>
                                    <input type='date' name="endDt" class="form-control" />
                                    <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker3').datetimepicker({
                                        format: 'LT'
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </tr>
                <tr>
                        <label for="formFile" class="form-label">이미지파일</label>
                        <input class="form-control" type="file" name="eventfile" id="formFile">
                </tr>
                <tr>
                    <td colspan="14">
                        <button class="btn btn-dark">저장</button>
                        <a href="/">돌아가기</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>