<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">BurgerWang</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/burger">버거추가</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/sellmenu">메뉴추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/event">이벤트추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/side">사이드추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/sideOpt">사이드옵션추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/drink">음료추가</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/drinkOpt">음료옵션추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/ingredients">재료추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/dog">독퍼추가</a>
                </li>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/menu/add/store">매장추가</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <h4 class="p-3 mb-2 bg-dark text-white">사이드 옵션 추가</h4>
    <form action="/menu/add/sideOpt" method="post" enctype="multipart/form-data">
        <table id="input_form_table">
            <tbody>
                <tr>
                    <label for="exampleFormControlInput1" class="form-label">이름</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name ="soName" placeholder="name">
                </tr>
                <tr>
                    <label for="exampleFormControlInput2" class="form-label">추가비용</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name ="soPrice" placeholder="price">
                </tr>
                <tr>
                    <label for="formFile" class="form-label">이미지파일</label>
                    <input class="form-control" type="file" name="sideOptfile" id="formFile">
                </tr>
                <tr>
                    사이즈
                    <select class="form-select" id="floatingSelect" name="soSize">
                            <option value="0">선택안함</option>
                            <option value="1">Regular</option>
                            <option value="2">Large</option>
                    </select>
                </tr>
                <tr>
                    <br>
                    <td colspan="6">
                        <button class="btn btn-dark">저장</button>
                        <a href="/main" class="btn btn-dark">돌아가기</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>