<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert</title>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
function kakaopost() {
    new daum.Postcode({
        oncomplete: function(data) {
            document.querySelector("#zipcode").value = data.zonecode;
            document.querySelector("#address").value =  data.address
        }
    }).open();
}
</script>
</head>
<body>
    <form action="/menu/add/store" method="post">
        <table border="1" id="input_form_table">
            <tbody>
                <tr>
                    <td>지점 명</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td width="200">우편번호</td>
                    <td><input type="text" name="zipcode" id="zipcode" size="7"
                        readonly> 
                        <input type="button" value="우편번호찾기"
                        onclick="kakaopost()"></td>
                </tr>
                <tr>
                    <td>주소</td>
                    <td>
                        <input type="text" name="address" id="address" size="70">
                    </td>
                    <td>
                        <input type="text" name="detailAddress" id="detailAddress" placeholder="상세주소">
                    </td>
                </tr>
                <tr>
                    <td>개점시간</td>
                    <td><input type="time" name="openTime"></td>
                </tr>
                <tr>
                    <td>종료시간</td>
                    <td><input type="time" name="closeTime"></td>
                </tr>
                <tr>
                    <td>최소 배달 금액</td>
                    <td><input type="number" name="deliveryPrice"></td>    
                </tr>
                <tr>
                    <td>전화번호</td>
                    <td><input type="text" name="phone"></td>    
                </tr>
                <tr>
                    <td>
                        <button>저장</button>
                        <a href="/">돌아가기</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>